body {
    margin: 40px;
}

.movie-name {
    color: blue;
    font-size: 22px;
}

.descr {
    color: #000;
    font-size: 17px;
}

.starring {
    font-size: 16px;
    color: #000;
    margin-right: 20px;
}